In [3]:
# If running in google colab:
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)

Mounted at /content/drive/

In [4]:

import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt

from textblob import TextBlob, Word

In [5]:
# # Read in data
# data = pd.read_csv('../data/vectors_labels_df.csv')

# Read in data from Google Colab. Update directory accordingly.
data = pd.read_csv('/content/drive/MyDrive/Python/vectors_labels_df.csv')

In [6]:
data.head(2)

   Unnamed: 0     screen_name  ... km_label dbscan_label
0           0     RepBarragan  ...        1            0
1           1   ChrisMurphyCT  ...        0            0
2           2     RepSwalwell  ...        0            0
3           3     RepDonBeyer  ...        0            0
4           4  WarrenDavidson  ...        0            0

[5 rows x 12 columns]

In [7]:
# Using TextBlob to find sentiment score for each politician's doc
# https://stackabuse.com/sentiment-analysis-in-python-with-textblob/
data['sentiment'] = [TextBlob(i).sentiment.polarity for i in data['liststring']]

In [8]:
data.head(2)

   Unnamed: 0    screen_name state  ... km_label dbscan_label sentiment
0           0    RepBarragan    CA  ...        1            0  0.125939
1           1  ChrisMurphyCT    CT  ...        0            0  0.094333

[2 rows x 13 columns]

In [9]:
data['sentiment'].describe()

count    623.000000
mean       0.149323
std        0.054367
min       -0.281912
25%        0.112786
50%        0.151760
75%        0.182963
max        0.375344
Name: sentiment, dtype: float64